/* :root {
    --highlight: ##f1ffc4;
} */

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
  justify-content: center;
}



