#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.body, html {
  background: white;
  background-image:radial-gradient(grey 1px, transparent 0);
  background-size: 30px 30px;
  background-position: -19px -19px;

  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}